$tipografia:"Nunito Sans", sans-serif   ;
$tam-base:1em;

$color-fondo1:#1B2226;
$color-titulo:#B6B6B6;
$color-letra1:#ECECEC;
$color-botones:#E7A24B;
$color-fondo-portfolio: #F4F4F4;
$color-fondo-about-small:#3e3e3e99;

$distancia-base:1em;


@mixin boton{
    background-color: $color-botones;
    color:$color-letra1;
    padding:$distancia-base;
    display: inline-block;
    text-transform: uppercase;
    &:hover{
        color:$color-botones;
        background-color:$color-letra1;
        transition: color 1s, background-color 1s;
    }
} 

@mixin titulo{
    text-align: center;
    font-size:2*$tam-base;
    padding:$distancia-base;
}