@use "globales" as *;
#about{
    background-repeat: no-repeat;
    background-size: cover;

    .imagen{
            picture, source, img{
                height: 100%;
                background-size: cover;
            }
        }
    #texto-about{

        h3{
            @include titulo;
        }

        a{
            @include boton;
          
        }
        
        p{
            text-align: start;
            padding: $tam-base;
        }
    } 
} 