@use "globales" as *;

#cabecera{
    background-color:$color-fondo1;
    align-items: center;
    .logo{
        font-size:2*$tam-base;
        color:$color-titulo;
        text-align:center;
    }
    i{
        color:$color-letra1;
    }

    nav{
        ul{
        text-align:center;
          
            li{
                a{
                color:$color-letra1;
                font-size:1.5*$tam-base;
                &:hover{
                    color:$color-botones;
                    transition: color 1s;
                }
                } 
            }
        }
    }
} 